@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color : #ffffff;
  --secondary-color : #1a1a1a;
  --third-color : #F8BFDD;
  --font-size : 16px;
  --font-family : "Funnel Sans";
}

body {
  background-color: #242424;
  font-family: var(--font-family);
  color : var(--primary-color);
  height: 100dvh;
  margin: 0;
}

.app {  
  height: 100dvh;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar chat-container chat-container"
    "sidebar chat-container chat-container"
    "sidebar chat-container chat-container"
}

.chat-container { grid-area: chat-container;}
.sidebar { grid-area: sidebar; }


